# copy this file into .env and customize local
# environment paths and options

DB_NAME=balanced
DB_USER=user1
DB_PASSWORD=user1
DB_TEST_NAME=test
DB_TEST_USER=usertest
DB_TEST_PASSWORD=usertest
DB_ROOT_PASSWORD=rootpass
VOLUMES_PATH=./docker/volumes
LOAD_BALANCER_PORT=8080
NGINX1_PORT=8081
NGINX2_PORT=8082
REDISINSIGHT_PORT=8003
REDIS_PORT=6379