# copy this file into .env and customize local
# environment paths and options

DB_NAME=YOUR_DATABASE_NAME
DB_USER=YOUR_DATABASE_USERNAME
DB_PASSWORD=YOUR_DATABASE_USER_PASSWORD
DB_TEST_NAME=YOUR_TEST_DATABASE_NAME
DB_TEST_USER=YOUR_TEST_DATABASE_USERNAME
DB_TEST_PASSWORD=YOUR_TEST_DATABASE_USER_PASSWORD
DB_ROOT_PASSWORD=YOUR_ROOT_PASSWORD
VOLUMES_PATH=./docker/volumes